.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .sidebar__menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .sidebar__menu-button-icon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
  }
  
  .sidebar__nav--open {
    transform: translateX(0);
  }
  
  .sidebar__list {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
  }
  
  .sidebar__item {
    margin: 0 0 20px 0;
  }
  
  .sidebar__link {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar__link:hover {
    background-color: #ccc;
  }
  